/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

html {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(271, 91%, 75%);
}

.container {
  height: 485px;
  width: 400px;
  background: hsl(0, 0%, 90%);
  box-shadow: 5px 5px 2px hsla(0, 0%, 0%, 0.8);
  padding: 20px 25px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 480px) {
    padding: 12px 20px;
    height: 420px;
    width: 340px;
  }

  & .cards,
  .game-info-controls,
  .card,
  .view {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .cards {
    height: 100%;
    max-height: 380px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;

    @media only screen and (max-width: 480px) {
      max-height: 340px;
    }

    & .card {
      cursor: pointer;
      height: calc((100% / 4) - 10px);
      width: calc((100% / 4) - 10px);
      position: relative;
      perspective: 1000px;
      user-select: none;
      transform-style: preserve-3d;

      & .view {
        height: 100%;
        width: 100%;
        border: 2px solid black;
        box-shadow: 2px 2px hsla(0, 0%, 0%, 0.8);
        border-radius: 5px;
        background: hsl(0, 0%, 100%);
        position: absolute;
        backface-visibility: hidden;
        pointer-events: none;
        transition: transform 0.3s linear;

        & img {
          max-width: 45px;

          @media only screen and (max-width: 480px) {
            max-width: 35px;
          }
        }
      }

      & .back-view {
        transform: rotateY(-180deg);
      }

      &.flip .back-view {
        transform: rotateY(0);
      }

      &.flip .front-view {
        transform: rotateY(180deg);
      }

      &.shake {
        animation: shake 0.35s ease-in-out;
      }
    }
  }
  & .game-info-controls {
    width: 100%;
    border: 2px solid black;
    box-shadow: 2px 2px hsla(0, 0%, 0%, 0.8);
    border-radius: 5px;
    padding: 10px;
    background: hsl(0, 0%, 100%);
    justify-content: space-around;

    @media only screen and (max-width: 480px) {
      padding: 5px;
    }

    & #refresh {
      cursor: pointer;
      font-size: 16px;
      border: 2px solid black;
      box-shadow: 2px 2px hsla(0, 0%, 0%, 0.8);
      border-radius: 5px;
      padding: 5px 10px;
      background-color: hsl(271, 91%, 65%);
      color: hsl(0, 0%, 100%);

      &:active {
        background-color: hsl(271, 91%, 70%);
      }
    }
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-13px);
  }
  40% {
    transform: translateX(13px);
  }
  60% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(8px);
  }
}
